body html{
    height: 100%;
    background-color:#141414;
}

body {
    background-color:#302f2f;
}


.container{
    background-color: #cdfcfc;
}

.pagina_produto{
    margin-top: 10px;
}

.adicionar{
    margin-top: 10px;
}

.rotape{
    height: 100px;
    background-color:#1A1A1A;
    padding-top: 70px;
    margin-top: 60px;
    color: white;
    border-top: white solid 1px;
   
}

 .text-center{
   width: 400px;
   padding-top: 18px;
   margin-left: 0px;
}

.blockquote  h4{
    color: rgb(190, 190, 3);
    font-size: 22px;
    font-style:oblique
}

.clearfix p{
    padding-top: 20px;
    font-style:italic ;
    color:#302f2f;
}

.card-body{
    background-color: #fafbfb;
    color:#302f2f;
}

.pagamento{
 margin-top: 2px; 
 width: 100%;
}

@media (max-width: 700px)
{
  .clearfix img
   {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    
   }

 .blockquote  h4{
    color: rgb(190, 190, 3);
    font-size: 19px;
    font-style:oblique;
}

.blockquote{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
}
